@import './variables.scss';

/* Google Fonts */ //Vidaloka 400
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600&family=Vidaloka&display=swap');

// RESET
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

// Commons
.container{
    max-width: 1220px;
    padding: 0 20px;
    margin: auto;
}
main{
    padding-top: calc(150px + 65px); //Header height
}
body{
    background-color: $bg-body;
}

// BUTTONS
[class^=btn]{
    border: none;
    padding: 10px 20px;
    text-align: center;
    cursor: pointer;
}
.btn-1, .btn-2{
    @include sans600;
    font-size: .875rem;
    text-transform: uppercase;
}
.btn-1{
    background-color: $c-main;
    color: $text-light;
    img{
        height: 15px;
        transform: translateY(.125rem);
        margin: 0 .3125rem;
    }
}
.btn-2{
    background-color: $c-bw-1;
    color: $text-black;
}

// Magic
.d-none{
    display: none;
}